.clearfix::before, .clearfix::after {
    content: '';
    display: table;
    clear: both;
}


body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    /* 宽度最小可以缩小为1226px */
    min-width: 1226px;
}

/* 设置一个类表示中间容器的宽度 */
.w {
    /* 固定容器宽度 */
    width: 1226px;
    /* 内容区居中 */
    margin: 0 auto;
}

/* 去除a标签的下划线 */
a {
    text-decoration: none;
}